In [75]:
import pandas as pd
import numpy as np

In [80]:
data= pd.read_csv("country_vaccination_stats.csv")

## QUESTION 4

In [ ]:
#Country minimums are observed to have table operations
countryMins=data.groupby("country")["daily_vaccinations"].min().fillna(0)
countryMins=pd.DataFrame(countryMins).rename(columns={"daily_vaccinations":"daily_vac_min"})
countryMins.reset_index(inplace=True)

In [84]:
"""
#This option A, lambda function is implemented to have the row operations.
data["daily_vaccinations"] = data.apply(
    lambda row: countryMins[countryMins["country"]==row["country"]]["daily_vac_min"] if np.isnan(row["daily_vaccinations"]) else row["daily_vaccinations"],
    axis=1)
"""

In [85]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483,Sputnik V
1,Argentina,12/30/2020,15656,Sputnik V
2,Argentina,12/31/2020,15656,Sputnik V
3,Argentina,1/1/2021,11070,Sputnik V
4,Argentina,1/2/2021,8776,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [65]:
#Option b, to have a optimised code, no row iteration is done but table operations.
data=data.merge(countryMins)
data["daily_vaccinations"].fillna(data["daily_vac_min"],inplace=True)
data.drop("daily_vac_min",axis=1,inplace=True)
data["daily_vaccinations"].isna().nunique()

## QUESTION 5

In [39]:
data.groupby("country")["daily_vaccinations"].median().sort_values(ascending=False).head(3)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

## QUESTION 6

In [36]:
data

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [38]:
data.groupby("date")["daily_vaccinations"].sum()["1/6/2021"]

1485255.0